name: Go
on:
  push:
    branches: [main]
    paths: ["backend/**", "go.mod", "go.sum"]
  pull_request:
    paths: ["backend/**", "go.mod", "go.sum"]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - run: go test ./...
