name: golangci-lint
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - uses: golangci/golangci-lint-action@v6
        with:
          args: --modules-download-mode=vendor --timeout=5m
